POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=land_acquisition_db
JWT_SECRET_KEY=your-secure-jwt-secret-key
DEV_MOCK_OTP=839201
VIASOCKET_WEBHOOK_URL=https://flow.sokt.io/func/scriyYp5aarB
